.items{
    width: 18rem;
    justify-items: center;
}
.precio{
    display: flex;
    flex-flow: row nowrap;
    
}
.euro{
    padding-top: 1%;
    padding-left: 5%;
}
.colPrice{
    padding-top: 10%;
}
.colPic1{
    padding-top: 8%;
}
.itemDeatil{
    margin-bottom: 7%;
}